<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<a th:href="@{/admin}">Back</a>
<form th:action="@{/admin}" th:method="post" th:object="${user}">


    <label for="username"> Username</label>
    <input type="text" id="username" th:field="*{username}"/>
    <br>


    <label for="password">Password</label>

    <input type="text" id="password" th:field="*{password}"/>
    <br>

    <label for="name"> Name</label>
    <input type="text" id="name" th:field="*{name}"/>
    <br>

    <label for="lastname"> Lastname</label>
    <input type="text" id="lastname" th:field="*{lastname}"/>
    <br>

    <label for="mail"> Mail </label>
    <input type="text" id="mail" th:field="*{mail}"/>
    <br>

    <p>
        <label>Roles:
            <input type="checkbox" name="roles"
                   th:each="role : ${allRoles}"
                   th:text="${role.name}"
                   th:value="${role.id}"
                   th:field="*{roles}"
            />
        </label>
    </p>
    <input type="submit" value="Add User">

</form>
</body>
</html>